* {
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
}

#email-feedback,
#password-feedback,
#name-feedback {
    display: none;
    color: red;
}

.notification {
    z-index: 2000 !important;
}

.mandatory {
    color: crimson;
}